.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin 1 1.5s ease-in-out;
  filter: drop-shadow(2px 2px 2px darkred);
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}


.App-swatch-col-1 {
  background-color: #2196F3;
  color: white;
  cursor: pointer;
  padding: 20px;
}

.App-swatch-col-2 {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  padding: 20px;
}

.App-swatch-col-3 {
  background-color: #FFEB3B;
  cursor: pointer;
  padding: 20px;
}

.App-swatch-col-4 {
  background-color: #FF9800;
  cursor: pointer;
  padding: 20px;
}

.App-swatch-col-5 {
  background-color: #F44336;
  cursor: pointer;
  padding: 20px;
}

.App-left-right-padding {
  padding-left: 20px;
  padding-right: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(720deg); }
}